<div class='library-bgc-container'>
  <div class='container library-container'>
    <div class='header-box'>
      <div class='logo-box'>
        <svg class='logo-icon' width='24' height='24'>
          <use href='/images/symbol-defs.svg#icon-film'></use>
        </svg>
        <a href='' class='logo'><span class='logo-text'>Filmoteka</span></a>
      </div>
      <nav>
        <!-- current -->
        <a href='./index.html' class='link'>Home</a>
        <a href='' class='link js-library'>my library</a>
      </nav>
    </div>
    <div class='button-container'>
      <button class='button watched'>Watched</button>
      <button class='button qweqwe'>queue</button>
    </div>
  </div>
</div>